#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		`# common flags` \
		-DCMAKE_INSTALL_PREFIX=/usr \
                -DCMAKE_INSTALL_INCLUDEDIR=include \
                -DCMAKE_INSTALL_BINDIR=bin \
                -DCMAKE_INSTALL_LIBDIR=lib/${DEB_HOST_MULTIARCH} \
                -DCMAKE_INSTALL_SYSCONFDIR=/etc \
		`# qmmfsrc flags` \
		-DVHDR_MODES_ENABLE=TRUE \
		`# test framework flags` \
		-DENABLE_VIDEO_ENCODE=TRUE \
		-DENABLE_VIDEO_DECODE=TRUE \
		-DENABLE_VIDEO_DISPLAY=TRUE \
		-DENABLE_VIDEO_ML=TRUE \
		-DENABLE_VIDEO_AUDIO=TRUE \
		`# Enable required plugins` \
		-DENABLE_GST_PLUGIN_BASE=ON \
		-DENABLE_GST_QAIRT_PLUGINS=ON \
		-DENABLE_GST_PLUGIN_SMARTVENCBIN=ON \
		-DENABLE_GST_PLUGIN_QMMFSRC=ON \
		-DENABLE_GST_MESSAGING_PLUGINS=ON \
		-DENABLE_GST_EXT_SOFTWARE_PLUGINS=ON \
		-DENABLE_GST_ML_PLUGINS=ON \
		-DENABLE_GST_VIDEOPROC_PLUGINS=ON \
		-DENABLE_GST_SOFTWARE_PLUGINS=ON \
		-DENABLE_GST_PLUGIN_MLTFLITE=ON \
		-DENABLE_GST_PLUGIN_MLACLASSIFICATION=ON \
		-DENABLE_GST_PLUGIN_MLVCLASSIFICATION=ON \
		-DENABLE_GST_PLUGIN_MLVSUPERRESOLUTION=ON \
		-DENABLE_GST_PLUGIN_MLVDETECTION=ON \
		-DENABLE_GST_PLUGIN_MLVPOSE=ON \
		-DENABLE_GST_PLUGIN_MLVSEGMENTATION=ON \
		-DENABLE_GST_SAMPLE_APPS=ON \
		-DENABLE_GST_SAMPLE_APPS_CAMERA=ON \
		-DENABLE_GST_PYTHON_EXAMPLES=ON \
		-DENABLE_GST_TEST_FRAMEWORK=ON \
		-DENABLE_GST_PLUGIN_TOOLS=ON
